<footer>
<p class="social-links">Follow us: <a href="{{ settings.facebook }}" target="_blank"><i class="fab fa-facebook" title="Facebook group"></i></a><a href="{{ settings.twitter }}" target="_blank"><i class="fab fa-twitter" title="Twitter feed"></i></a></p>
</footer>
</body>
</html>