@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 15em;
  border: 2px solid #aaa;
}

.grid-container {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 10em 50vh auto 10em;
  grid-template-columns: 5fr 3fr;
  grid-template-areas: 'main aside';
  float: inline-end;
}

.grid-container main {
  grid-area: main;
}

.grid-container aside {
  grid-area: aside;
}

nav {
  background-color: #633800;
  color: #ffde58;
  padding-bottom: 1em;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-site-title {
  color: #ffe7b5;
  padding-top: 0.75em;
}

nav h1 {
  margin-left: 1em;
}

.base-container {
  margin-top: -1.5em;
}
