---
title: Home
layout: base.njk
---

<h1>{{ settings.siteName }}</h1>

<h2>Updates</h2>

<ul>
  {% for post in collections.post -%}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}, {{ post.data.date | dateformat }}</a>
  </li>
  {% endfor -%}
</ul>

<h2>Upcoming Films</h2>

  {% for film in films -%}
    <p><strong>{{ film.title }}</strong>, <em>Release Date: {{ film.release_date}}</em><br>
    {{ film.overview }}</p>
  {% endfor -%}



